if theme.pubkey
  section.pubkey= theme.pubkey
section.author
  | Created by: #{config.author}
section.contact
  | Find me at: 
  a(href='https://www.facebook.com/abua.zang', target="_blank") Facebook
  |  &middot; 
  a(href='https://github.com/khanhtc1202', target="_blank") Github
section.copyright
  a(href='http://opensource.org/licenses/MIT', target="_blank") MIT License
  |  &middot;  Published with 
  a(href='https://hexo.io/', target="_blank") Hexo
  if config.feed && config.feed.url
    |  &middot; 
    a(href= config.feed.url) RSS Feed